// tamanhos: 
// - Mobile: 375px
// - Desktop: 1440px


// Cor 
$branco: hsl(0, 0%, 100%);
$cinza-claro: hsl(212, 45%, 89%);
$azul-cinzento: hsl(220, 15%, 55%);
$azul-escuro: hsl(218, 44%, 22%);

// Fontes
$fonte: 'Outfit', sans-serif; // weights: 400 ou 700

// tamanho das fontes
$tamanho-do-texto: 0.9374rem;